<h4>Payments List</h4>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Supplier Name</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of payments">
    <td>
      {{payment.id}}
    </td>
    <td>
      {{payment.supplierName}}
    </td>
    <td>
      {{payment.paymentAmount}}
    </td>
  </tr>
  </tbody>
</table>
<br/>
<div>
  <h4>Add Payment</h4>
  <div>
    <form [formGroup]="paymentForm" (ngSubmit)="submit()">
      <h5>Add Payment</h5>
      <div class="row">
        <label for="id">ID</label>
        <input id="id" type="number" formControlName="id">
      </div>

      <div class="row">
        <label for="supplierName">Supplier Name</label>
        <input type="text" id="supplierName" formControlName="supplierName">
      </div>

      <div class="row">
        <label for="paymentDate">Payment Date</label>
        <input type="text" id="paymentDate" formControlName="paymentDate">
      </div>

      <div class="row">
        <label for="payment-amount">Payment Amount</label>
        <input type="text" id="payment-amount" formControlName="paymentAmount">
      </div>

      <div formArrayName="invoices">
        <h6>Invoices</h6>
        <div class="row" *ngFor="let invoice of invoices.controls; let i=index">
          <div formGroupName="{{i}}">
            <div class="row">
              <label for="invoiceId-{{i+1}}">Invoice Id{{i + 1}}</label>
              <input id="invoiceId-{{i+1}}" type="text" formControlName="invoiceId">
            </div>

            <div class="row">
              <label for="paymentId-{{i+1}}">Payment Id {{i + 1}}</label>
              <input id="paymentId-{{i+1}}" type="text" formControlName="paymentId">
            </div>

            <div class="row">
              <label for="invoiceAmount-{{i+1}}">Invoice Amount {{i + 1}}</label>
              <input id="invoiceAmount-{{i+1}}" type="number" formControlName="invoiceAmount">
            </div>

            <div class="row">
              <label for="invoiceDate-{{i+1}}">Invoice Date {{i + 1}}</label>
              <input id="invoiceDate-{{i+1}}" type="text" formControlName="invoiceDate">
            </div>
            <button (click)="addInvoice()"> + Add Invoice</button>
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!paymentForm.valid">Add Payment</button>
    </form>
  </div>
  <p>Form Status: {{paymentForm.status}}</p>
  <p>Form Value: {{paymentForm.value | json}}</p>

  <ul *ngFor="let payment of payments">
    <p>Payments Value: {{payment| json}}</p>
  </ul>
</div>
